In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("final_data.csv")

In [3]:
df.head()

,Timestamp,Email Address,Name,Year,Department,What was your 10th CGPA ?,What was your 11th/Diploma % ?,What was your 12th/ Diploma % ?,"When you came in 1st year, were you interested in any technology ?","Why were you interested in that technology, if you were ?",...,You prefer to work your way through a situation rather than plan out all the details.,You rely on your mind rather than your feelings to make decisions.,"According to you, It's important to try things out for yourself.",You'll take time to think about improving each situation,Expressing your feelings comes naturally to you.,Using sound(good) logic is how you deal with problems.,You trust your personal experience rather than other people's theories .,You can usually foresee several possible outcomes for the present situation .,You find it useful when people offer criticism of your work .,Which technology/field domain have you learned the best during B. Tech ?
0,11/21/2022 17:20:10,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,CS,9.20,78.0,89.60,Blockchain,Due to crypto trading,...,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blockchain
1,11/21/2022 17:21:50,singh.aviraj08@icloud.com,Aviraj Singh,Second,CS,92.60,75.0,91.75,Yes,.,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using Java
2,11/21/2022 17:21:51,shreyasharma1165@gmail.com,Shreya Sharma,Third,CS,9.30,80.0,90.80,Graphic design,I am creative and always wanted to work in tha...,...,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
3,11/21/2022 17:23:27,Nandiniarora21122003@gmail.com,Nandini Arora,Second,CS,97.60,80.0,93.60,Yes,I got interested by searching a lot about it ...,...,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using C++
4,11/21/2022 17:24:50,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,CS,8.67,85.6,90.40,NO,I WAS NOT INTERESTED IN ANY.,...,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Data Science / AI / ML

In [4]:
del df["Timestamp"]

In [5]:
df

,Email Address,Name,Year,Department,What was your 10th CGPA ?,What was your 11th/Diploma % ?,What was your 12th/ Diploma % ?,"When you came in 1st year, were you interested in any technology ?","Why were you interested in that technology, if you were ?",Did you have any guidance before coming to college ?,...,You prefer to work your way through a situation rather than plan out all the details.,You rely on your mind rather than your feelings to make decisions.,"According to you, It's important to try things out for yourself.",You'll take time to think about improving each situation,Expressing your feelings comes naturally to you.,Using sound(good) logic is how you deal with problems.,You trust your personal experience rather than other people's theories .,You can usually foresee several possible outcomes for the present situation .,You find it useful when people offer criticism of your work .,Which technology/field domain have you learned the best during B. Tech ?
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,CS,9.20,78.0,89.60,Blockchain,Due to crypto trading,No,...,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blockchain
1,singh.aviraj08@icloud.com,Aviraj Singh,Second,CS,92.60,75.0,91.75,Yes,.,No,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using Java
2,shreyasharma1165@gmail.com,Shreya Sharma,Third,CS,9.30,80.0,90.80,Graphic design,I am creative and always wanted to work in tha...,No,...,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
3,Nandiniarora21122003@gmail.com,Nandini Arora,Second,CS,97.60,80.0,93.60,Yes,I got interested by searching a lot about it ...,No,...,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using C++
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,CS,8.67,85.6,90.40,NO,I WAS NOT INTERESTED IN ANY.,No,...,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Data Science / AI / ML
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,minakshi.20b0123005@abes.ac.in,Minakshi Rakesh Kumar mishra,Fourth,CS,7.00,7.0,7.00,No,NaN,Yes,...,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Data Science / AI / ML
391,vedantbhatt321@gmail.com,Vedant Bhatt,Fourth,CS,10.00,89.0,94.40,Java,NaN,No,...,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Backend using Java Frameworks.
392,sakshi.19b151044@abes.ac.in,Sakshi Singh,Fourth,CS,10.00,80.0,84.40,Data Science,NaN,Yes,...,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Data Science / AI / ML
393,tyagiabhay9@gmail.com,Abhay Tyagi,Fourth,CS,9.00,62.0,85.50,No,NaN,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
394,manav.0424@gmail.com,Manav Mishra,Fourth,CS,8.60,74.0,80.00,Data Science,NaN,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Full Stack (JavaScript Based Tech Stack).

In [6]:
del df["Department"]

In [7]:
del df["When you came in 1st year, were you interested in any technology ?"]

In [8]:
del df["Why were you interested in that technology, if you were ?"]

In [9]:
df

,Email Address,Name,Year,What was your 10th CGPA ?,What was your 11th/Diploma % ?,What was your 12th/ Diploma % ?,Did you have any guidance before coming to college ?,Too much socializing drains your energy,"The more you interact with others, the more energized you feel.",It usually takes you a long time to open up with new people you meet .,You prefer to work your way through a situation rather than plan out all the details.,You rely on your mind rather than your feelings to make decisions.,"According to you, It's important to try things out for yourself.",You'll take time to think about improving each situation,Expressing your feelings comes naturally to you.,Using sound(good) logic is how you deal with problems.,You trust your personal experience rather than other people's theories .,You can usually foresee several possible outcomes for the present situation .,You find it useful when people offer criticism of your work .,Which technology/field domain have you learned the best during B. Tech ?
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,9.20,78.0,89.60,No,No,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blockchain
1,singh.aviraj08@icloud.com,Aviraj Singh,Second,92.60,75.0,91.75,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using Java
2,shreyasharma1165@gmail.com,Shreya Sharma,Third,9.30,80.0,90.80,No,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
3,Nandiniarora21122003@gmail.com,Nandini Arora,Second,97.60,80.0,93.60,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using C++
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,8.67,85.6,90.40,No,Yes,No,Yes,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Data Science / AI / ML
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,minakshi.20b0123005@abes.ac.in,Minakshi Rakesh Kumar mishra,Fourth,7.00,7.0,7.00,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Data Science / AI / ML
391,vedantbhatt321@gmail.com,Vedant Bhatt,Fourth,10.00,89.0,94.40,No,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Backend using Java Frameworks.
392,sakshi.19b151044@abes.ac.in,Sakshi Singh,Fourth,10.00,80.0,84.40,Yes,No,Yes,No,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Data Science / AI / ML
393,tyagiabhay9@gmail.com,Abhay Tyagi,Fourth,9.00,62.0,85.50,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
394,manav.0424@gmail.com,Manav Mishra,Fourth,8.60,74.0,80.00,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Full Stack (JavaScript Based Tech Stack).

In [10]:
df.columns=["email","name","year","10th","11th","12th","previous_guidance","EvsIn(1)","EvsIn(2)","EvsIn(3)","SvsI(1)","SvsI(2)","SvsI(3)","TvsF(1)","TvsF(2)","TvsF(3)","JvsP(1)","JvsP(2)","JvsP(3)","curr_techno"]

In [11]:
df

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,9.20,78.0,89.60,No,No,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blockchain
1,singh.aviraj08@icloud.com,Aviraj Singh,Second,92.60,75.0,91.75,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using Java
2,shreyasharma1165@gmail.com,Shreya Sharma,Third,9.30,80.0,90.80,No,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
3,Nandiniarora21122003@gmail.com,Nandini Arora,Second,97.60,80.0,93.60,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using C++
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,8.67,85.6,90.40,No,Yes,No,Yes,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Data Science / AI / ML
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,minakshi.20b0123005@abes.ac.in,Minakshi Rakesh Kumar mishra,Fourth,7.00,7.0,7.00,Yes,No,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Data Science / AI / ML
391,vedantbhatt321@gmail.com,Vedant Bhatt,Fourth,10.00,89.0,94.40,No,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Backend using Java Frameworks.
392,sakshi.19b151044@abes.ac.in,Sakshi Singh,Fourth,10.00,80.0,84.40,Yes,No,Yes,No,No,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Data Science / AI / ML
393,tyagiabhay9@gmail.com,Abhay Tyagi,Fourth,9.00,62.0,85.50,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
394,manav.0424@gmail.com,Manav Mishra,Fourth,8.60,74.0,80.00,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Full Stack (JavaScript Based Tech Stack).

In [12]:
df.describe()

             10th        11th        12th
count  395.000000  395.000000  395.000000
mean    34.146246   72.127797   77.877899
std     36.318181   20.243219   21.118626
min      6.000000    1.000000    1.000000
25%      8.800000   70.000000   76.000000
50%      9.800000   78.000000   83.600000
75%     82.000000   81.250000   89.000000
max     97.600000   99.000000   97.250000

In [13]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,9.20,78.0,89.60,No,No,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blockchain
1,singh.aviraj08@icloud.com,Aviraj Singh,Second,92.60,75.0,91.75,No,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using Java
2,shreyasharma1165@gmail.com,Shreya Sharma,Third,9.30,80.0,90.80,No,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
3,Nandiniarora21122003@gmail.com,Nandini Arora,Second,97.60,80.0,93.60,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using C++
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,8.67,85.6,90.40,No,Yes,No,Yes,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Data Science / AI / ML

In [14]:
df["previous_guidance"].value_counts()

No     222
Yes    173
Name: previous_guidance, dtype: int64

In [15]:
def guidance(s):
    if s=="No":
        return 0
    else:
        return 1

In [16]:
df["previous_guidance"]=df.previous_guidance.apply(guidance)

In [17]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,9.20,78.0,89.60,0,No,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blockchain
1,singh.aviraj08@icloud.com,Aviraj Singh,Second,92.60,75.0,91.75,0,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using Java
2,shreyasharma1165@gmail.com,Shreya Sharma,Third,9.30,80.0,90.80,0,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,"Frontend using HTML, CSS and JavaScript."
3,Nandiniarora21122003@gmail.com,Nandini Arora,Second,97.60,80.0,93.60,0,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Competitive Programming using C++
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,8.67,85.6,90.40,0,Yes,No,Yes,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Data Science / AI / ML

In [18]:
df["previous_guidance"].value_counts()

0    222
1    173
Name: previous_guidance, dtype: int64

In [19]:
def technology(t):
    if t=="Frontend using HTML, CSS and JavaScript.":
        return 1
    elif t=="Frontend using React.":
        return 2
    elif t=="Backend using JavaScript frameworks.":
        return 3
    elif t=="Backend using Python Framework.":
        return 4
    elif t=="Backend using Java Frameworks.":
        return 5
    elif t=="Competitive Programming using C++":
        return 6
    elif t=="Competitive Programming using Python":
        return 7
    elif t=="Competitive Programming using Java":
        return 8
    elif t=="Full Stack (JavaScript Based Tech Stack).":
        return 9
    elif t=="Full Stack (Python Based Tech Stack).":
        return 10
    elif t=="Full Stack (Java Based Tech Stack).":
        return 11
    elif t=="Data Science / AI / ML":
        return 12
    elif t=="Blockchain":
        return 13
    elif t=="Cyber Security":
        return 14
    elif t=="Application Development using Kotlin":
        return 15
    elif t=="Application Development using Java":
        return 16
    elif t=="Application Development using Swift":
        return 17
    elif t=="Application Development using Flutter":
        return 18
    else:
        return 19

In [20]:
df["curr_techno"]=df.curr_techno.apply(technology)

In [21]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,Second,9.20,78.0,89.60,0,No,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,13
1,singh.aviraj08@icloud.com,Aviraj Singh,Second,92.60,75.0,91.75,0,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,8
2,shreyasharma1165@gmail.com,Shreya Sharma,Third,9.30,80.0,90.80,0,Yes,Yes,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,1
3,Nandiniarora21122003@gmail.com,Nandini Arora,Second,97.60,80.0,93.60,0,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,Second,8.67,85.6,90.40,0,Yes,No,Yes,Yes,No,No,Yes,No,No,Yes,Yes,Yes,12

In [22]:
df["curr_techno"].value_counts()

1     129
6      65
12     43
19     26
2      24
7      22
8      21
9      14
13     12
4       8
18      7
5       5
10      5
16      4
15      4
14      3
11      2
3       1
Name: curr_techno, dtype: int64

In [23]:
def Year(y):
    if y=="Second":
        return 2
    elif y=="Third":
        return 3
    elif y=="Fourth":
        return 4

In [24]:
df["year"]=df.year.apply(Year)

In [25]:
df["year"].value_counts()

3    301
2     51
4     43
Name: year, dtype: int64

In [26]:
def Extra_Intro(e):
    if e=="Yes":
        return 1
    else:
        return 0

In [27]:
df["EvsIn(1)"]=df["EvsIn(1)"].apply(Extra_Intro)

In [28]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,2,9.20,78.0,89.60,0,0,Yes,No,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,13
1,singh.aviraj08@icloud.com,Aviraj Singh,2,92.60,75.0,91.75,0,0,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,8
2,shreyasharma1165@gmail.com,Shreya Sharma,3,9.30,80.0,90.80,0,1,Yes,No,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,1
3,Nandiniarora21122003@gmail.com,Nandini Arora,2,97.60,80.0,93.60,0,0,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,2,8.67,85.6,90.40,0,1,No,Yes,Yes,No,No,Yes,No,No,Yes,Yes,Yes,12

In [29]:
def Extra_Intro1(e):
    if e=="Yes":
        return 1
    else:
        return 0

In [30]:
def Extra_Intro2(e):
    if e=="Yes":
        return 0
    else:
        return 1

In [31]:
df["EvsIn(2)"]=df["EvsIn(2)"].apply(Extra_Intro1)
df["EvsIn(3)"]=df["EvsIn(3)"].apply(Extra_Intro2)

In [32]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,2,9.20,78.0,89.60,0,0,1,1,Yes,Yes,Yes,No,Yes,Yes,Yes,No,Yes,13
1,singh.aviraj08@icloud.com,Aviraj Singh,2,92.60,75.0,91.75,0,0,0,0,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,8
2,shreyasharma1165@gmail.com,Shreya Sharma,3,9.30,80.0,90.80,0,1,1,1,Yes,No,Yes,No,Yes,Yes,Yes,Yes,Yes,1
3,Nandiniarora21122003@gmail.com,Nandini Arora,2,97.60,80.0,93.60,0,0,1,1,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,6
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,2,8.67,85.6,90.40,0,1,0,0,Yes,No,No,Yes,No,No,Yes,Yes,Yes,12

In [33]:
def Sensing_Intu(s):
    if s=="Yes":
        return 1
    else:
        return 0

In [34]:
df["SvsI(1)"]=df["SvsI(1)"].apply(Sensing_Intu)
df["SvsI(2)"]=df["SvsI(2)"].apply(Sensing_Intu)
df["SvsI(3)"]=df["SvsI(3)"].apply(Sensing_Intu)

In [35]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,2,9.20,78.0,89.60,0,0,1,1,1,1,1,No,Yes,Yes,Yes,No,Yes,13
1,singh.aviraj08@icloud.com,Aviraj Singh,2,92.60,75.0,91.75,0,0,0,0,1,1,1,Yes,Yes,Yes,Yes,Yes,Yes,8
2,shreyasharma1165@gmail.com,Shreya Sharma,3,9.30,80.0,90.80,0,1,1,1,1,0,1,No,Yes,Yes,Yes,Yes,Yes,1
3,Nandiniarora21122003@gmail.com,Nandini Arora,2,97.60,80.0,93.60,0,0,1,1,1,0,1,Yes,Yes,Yes,Yes,Yes,Yes,6
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,2,8.67,85.6,90.40,0,1,0,0,1,0,0,Yes,No,No,Yes,Yes,Yes,12

In [36]:
def thinking_feeling1(t):
    if t=="Yes":
        return 1
    else:
        return 0

In [37]:
def thinking_feeling2(t):
    if t=="Yes":
        return 0
    else:
        return 1

In [38]:
def thinking_feeling3(t):
    if t=="Yes":
        return 1
    else:
        return 0

In [39]:
df["TvsF(1)"]=df["TvsF(1)"].apply(thinking_feeling1)
df["TvsF(2)"]=df["TvsF(2)"].apply(thinking_feeling2)
df["TvsF(3)"]=df["TvsF(3)"].apply(thinking_feeling3)

In [40]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,2,9.20,78.0,89.60,0,0,1,1,1,1,1,0,0,1,Yes,No,Yes,13
1,singh.aviraj08@icloud.com,Aviraj Singh,2,92.60,75.0,91.75,0,0,0,0,1,1,1,1,0,1,Yes,Yes,Yes,8
2,shreyasharma1165@gmail.com,Shreya Sharma,3,9.30,80.0,90.80,0,1,1,1,1,0,1,0,0,1,Yes,Yes,Yes,1
3,Nandiniarora21122003@gmail.com,Nandini Arora,2,97.60,80.0,93.60,0,0,1,1,1,0,1,1,0,1,Yes,Yes,Yes,6
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,2,8.67,85.6,90.40,0,1,0,0,1,0,0,1,1,0,Yes,Yes,Yes,12

In [41]:
def judging1(j):
    if j=="Yes":
        return 0
    else:
        return 1

In [42]:
def judging2(j):
    if j=="Yes":
        return 1
    else:
        return 0

In [43]:
def judging3(j):
    if j=="Yes":
        return 0
    else:
        return 1

In [44]:
df["JvsP(1)"]=df["JvsP(1)"].apply(judging1)
df["JvsP(2)"]=df["JvsP(2)"].apply(judging2)
df["JvsP(3)"]=df["JvsP(3)"].apply(judging3)

In [45]:
df.head()

,email,name,year,10th,11th,12th,previous_guidance,EvsIn(1),EvsIn(2),EvsIn(3),SvsI(1),SvsI(2),SvsI(3),TvsF(1),TvsF(2),TvsF(3),JvsP(1),JvsP(2),JvsP(3),curr_techno
0,sushant.21b0121192@abes.ac.in,Sushant Gangwar,2,9.20,78.0,89.60,0,0,1,1,1,1,1,0,0,1,0,0,0,13
1,singh.aviraj08@icloud.com,Aviraj Singh,2,92.60,75.0,91.75,0,0,0,0,1,1,1,1,0,1,0,1,0,8
2,shreyasharma1165@gmail.com,Shreya Sharma,3,9.30,80.0,90.80,0,1,1,1,1,0,1,0,0,1,0,1,0,1
3,Nandiniarora21122003@gmail.com,Nandini Arora,2,97.60,80.0,93.60,0,0,1,1,1,0,1,1,0,1,0,1,0,6
4,astha.21b0121194@abes.ac.in,ASTHA SINGH,2,8.67,85.6,90.40,0,1,0,0,1,0,0,1,1,0,0,1,0,12

In [47]:
ut2=df.copy()

In [48]:
ut2.to_csv('ut2.csv')

In [49]:
df.to_csv(r'C:\Users\utkar\OneDrive\Desktop\FriendAI\ut2.csv', index=False, header=True)

In [50]:
print()